.full-width{
	width: 100%;
}
.grid-common {
	padding-right: $padding-right;
	padding-left: $padding-left;
	float: left;
	box-sizing: border-box;
}
.grid-12{
	@extend .grid-common;	
	width: $cotainer;
}
.grid-11{
	@extend .grid-common;	
	width: $cotainer / 12 * 11;
}
.grid-10{
	@extend .grid-common;	
	width: $cotainer / 12 * 10;
}
.grid-9{
	@extend .grid-common;	
	width: $cotainer / 12 * 9;
}
.grid-8{
	@extend .grid-common;	
	width: $cotainer / 12 * 8;
}
.grid-7{
	@extend .grid-common;	
	width: $cotainer / 12 * 7;
}
.grid-6{
	@extend .grid-common;
	width: $cotainer / 12 * 6;
}
.grid-5{
	@extend .grid-common;
	width: $cotainer / 12 * 5;
}
.grid-4{
	@extend .grid-common;
	width: $cotainer / 12 * 4;
}
.grid-3{
	@extend .grid-common;	
	width: $cotainer / 12 * 3;
}
.grid-2{
	@extend .grid-common;	
	width: $cotainer / 12 * 2;
}
 .grid-1{
 	@extend .grid-common;
	width: $cotainer / 12 * 1;
}