/* color*/
/* width*/
/* padding*/
/* line 1, ../sass/_layout.scss */
.full-width {
  width: 100%;
}

/* line 4, ../sass/_layout.scss */
.grid-common, .grid-12, .grid-11, .grid-10, .grid-9, .grid-8, .grid-7, .grid-6, .grid-5, .grid-4, .grid-3, .grid-2, .grid-1 {
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  box-sizing: border-box;
}

/* line 10, ../sass/_layout.scss */
.grid-12 {
  width: 100%;
}

/* line 14, ../sass/_layout.scss */
.grid-11 {
  width: 91.66667%;
}

/* line 18, ../sass/_layout.scss */
.grid-10 {
  width: 83.33333%;
}

/* line 22, ../sass/_layout.scss */
.grid-9 {
  width: 75%;
}

/* line 26, ../sass/_layout.scss */
.grid-8 {
  width: 66.66667%;
}

/* line 30, ../sass/_layout.scss */
.grid-7 {
  width: 58.33333%;
}

/* line 34, ../sass/_layout.scss */
.grid-6 {
  width: 50%;
}

/* line 38, ../sass/_layout.scss */
.grid-5 {
  width: 41.66667%;
}

/* line 42, ../sass/_layout.scss */
.grid-4 {
  width: 33.33333%;
}

/* line 46, ../sass/_layout.scss */
.grid-3 {
  width: 25%;
}

/* line 50, ../sass/_layout.scss */
.grid-2 {
  width: 16.66667%;
}

/* line 54, ../sass/_layout.scss */
.grid-1 {
  width: 8.33333%;
}

/* line 6, ../sass/style.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 13, ../sass/style.scss */
body {
  font-family: Helvetica, sans-serif;
  color: #000;
  /*Header Panel Start*/
  /*Header Panel Start*/
  /*Banner Panel Start*/
  /*Banner Panel Start*/
  /*Body Panel Start*/
  /*Body Panel Start*/
  /*Footer Panel Start*/
  /*Footer Panel Start*/
}
/* line 16, ../sass/style.scss */
body .grid-pan {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 21, ../sass/style.scss */
body .wrapper {
  width: 960px;
  margin: 0 auto;
}
/* line 25, ../sass/style.scss */
body .pull-right {
  float: right;
}
/* line 27, ../sass/style.scss */
body .pull-left {
  float: left;
}
/* line 29, ../sass/style.scss */
body .black {
  background-color: #000;
}
/* line 32, ../sass/style.scss */
body .red {
  background-color: #ff0000;
}
/* line 36, ../sass/style.scss */
body .header {
  padding: 10px;
}
/* line 38, ../sass/style.scss */
body .header ul {
  font-size: 14px;
}
/* line 40, ../sass/style.scss */
body .header ul li {
  display: inline-block;
  padding-right: 10px;
  text-transform: uppercase;
}
/* line 45, ../sass/style.scss */
body .header ul a {
  color: #fff;
  display: block;
  padding: 18px 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 51, ../sass/style.scss */
body .header ul a:hover {
  background-color: #31c8d6;
}
/* line 56, ../sass/style.scss */
body .header .serach {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 0;
  width: 90%;
  margin: 8px 0;
}
/* line 66, ../sass/style.scss */
body .banner {
  background: url("http://avtapps.com/wp-content/uploads/2016/06/New-Banner-home.jpg") no-repeat scroll 50% 0;
  min-height: 400px;
}
/* line 69, ../sass/style.scss */
body .banner h2 {
  margin: 250px 0 0 0;
  background-color: rgba(255, 255, 255, 0.72);
  padding: 10px;
  font-size: 20px;
  font-weight: normal;
}
/* line 79, ../sass/style.scss */
body .body-pan {
  padding: 30px 0;
}
/* line 81, ../sass/style.scss */
body .body-pan h2 {
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
/* line 86, ../sass/style.scss */
body .body-pan p {
  padding: 20px 0 0 0;
}
/* line 90, ../sass/style.scss */
body .body-pan .right-pan {
  border: 2px solid #31c8d6;
}
/* line 92, ../sass/style.scss */
body .body-pan .right-pan h3 {
  background-color: #31c8d6;
  padding: 5px;
  color: #fff;
}
/* line 97, ../sass/style.scss */
body .body-pan .right-pan img {
  max-width: 96%;
  margin: 0 0 10px;
  padding: 2%;
}
/* line 107, ../sass/style.scss */
body .footer {
  padding: 10px;
  color: #fff;
  font-size: 12px;
}
/* line 113, ../sass/style.scss */
body .footer ul li {
  display: inline-block;
  padding-right: 10px;
}
/* line 117, ../sass/style.scss */
body .footer ul a {
  color: #fff;
  display: block;
}
/* line 126, ../sass/style.scss */
body .footer .copyright {
  text-align: right;
}
